
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1" baseProfile="full">
    <title>Text Pattern Fill Example</title>
    <defs>
        <pattern id="img1" patternUnits="userSpaceOnUse" width="1000" height="1000">
            <image xlink:href="/images/1878_Darwin_photo_by_Leonard_from_Woodall_1884.jpg" x="0" y="0" width="1000" height="1000"/>
        </pattern>
    </defs>

   <path d="M100,25 l-40,-75 l120,0 l0,75 l-130,0 
   			z"
  fill="url(#img1)" />

</svg>