*.log
*.pid
*.tar.gz
.DS_Store				# mac ox directory / thumbnail files
*/.DS_Store
.DS_Store
.idea
.project
.sass-cache
.yardoc
/.bundle
config/application.yml
config/database.yml
db/*.sqlite3
doc/api
doc/app
log/*.log
public/system
public/uploads/*		# from s3
tmp/
tmp/restart.txt
.rvmrc