.content

	.bit._1
		hello world!

	.bit._1 I can be anything:
	.bit._2 a tiny piece of text, like a letter.
	.bit._3 a word
	.bit._4 or a paragraph
	.bit._5 you are in control.
	.bit._6 i can be an image.
	.bit._7 a sound
	.bit._8 or a video
	.bit._9




= partial("partials/footer") 