
.bit._1
	.content hello world!

.bit._2
	.content I'm a bit. 

.bit._3
	.content I can be anything: like the letter

.bit._4
	.content A

.bit._5
	.content or a 

.bit._6
	.content word.

.bit._7
	.content I can be a phrase

.bit._8
	.content a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). a paragraph (record skipping). 

.bit._9
	.content a sound

.bit._10
	.content or a video

= partial("partials/footer") 