%body
  #placeholder
    .info
      %h2 
        Parallels is an open source platform for creating, connecting and sharing the 
        %strong evolution
        of your ideas.


    #twitter
      %span More info shortly.
      = partial("partials/twitter_follow")

      / = partial("partials/twitter_feed")


    .vimeo= partial("partials/vimeo_demo1")


