/ embed, but don't display, bit form partial 
/ for drag and drop image as bit : new works
/ = render :template => 'bits/image_form'

#image_upload.dropzone-previews

#map
  #data
    - @clusters.each do |cluster| 
      = render :template => 'clusters/show', :locals => { :cluster => @cluster = cluster}