/ embed, but don't display, bit form partial 
/ for drag and drop image as bit : new works
/ = render :template => 'bits/image_form'

#image_upload.dropzone-previews

#map
  - @bits.each do |bit| 
    = render template: "bits/show", :locals => { :bit => @bit = bit}