#toolbar.toolbar-icons{ :style => 'display:none;'}
	%a{:href => "#"}
		%i.icon-user
	%a{:href => "#"}
		%i.icon-star
	%a{:href => "#"}
		%i.icon-edit
	%a{:href => "#"}
		%i.icon-trash
	%a{:href => "#"}
		%i.icon-ban-circle