@charset "utf-8";

body {
  background: #ededed; color: #333; 
  font-family: sans-serif;
  color:gray; }




.bit { 
  margin: 0 40px 35px 150px;
  background: #ffffff;
  padding:20px;
  position: relative;
  -moz-box-shadow: 8px 8px 8px #dfeef3;
  -webkit-box-shadow: 8px 8px 8px #dfeef3;
  box-shadow: 8px 8px 8px #dfeef3;
  display:inline-block;
  clear:both
  ;
}



.quote  { padding-left: 20px; padding-top:20px; font-style:italic; font-family:georgia; font-size:15px;}  
.quote b {  font-style:italic; font-family:georgia; font-size:15px; font-weight:bold;}  





.label

{
  font-size:17px; 
  padding:8px 20px 8px 0; 
  background:#ffffff; 
  min-width:100px;
  width:100px;

}
.label.blue { background: #ebf7fb }



.bit .footnote           { padding:0 20px 0 20px;}
.bit .footnote .number       { font-size:12px; position:relative;  display:inline-block; color:gray; width:30px; float:left;}
.bit .footnote .content      { position: relative; top: -11px; color:gray; line-height:20px;}


.bit.label     { padding:0 0 0 20px; margin-bottom:5px;}



p.start       { padding: 15px 0 0 0;}
p.end         { padding:0 0 15px 0;}
.footnote p.end   { padding:0 0 20px 0;}





.content  { padding:50px;}



