._1 	{   } 
._2 	{ float:left;  } 
._3 	{  float:left; } 
._4 	{ font-family: 'Meddon';   } 
._4 .content { height:20px; width:30px; padding: 10px 13px 20px 16px;}
._5 	{   } 
._6 	{   } 
._7 	{   } 
._8 	{   } 
._9 	{   } 
._10 	{   } 

._11 	{   } 
._12 	{   } 
._13 	{   } 
._14 	{   } 
._15	{   } 
._16	{   } 
._17 	{   } 
._18 	{   } 
._19 	{   } 
._20 	{   } 

