.image 		{ padding:0 !important; background:none !important; }
.aside	 	{ font-family:'ChaparralPro-LightIt';  } 

.left { float:left;}
.gradient {
background: #05abe0; /* Old browsers */
background: -moz-linear-gradient(left,  #05abe0 0%, #53cbf1 28%, #87e0fd 94%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#05abe0), color-stop(28%,#53cbf1), color-stop(94%,#87e0fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #05abe0 0%,#53cbf1 28%,#87e0fd 94%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #05abe0 0%,#53cbf1 28%,#87e0fd 94%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #05abe0 0%,#53cbf1 28%,#87e0fd 94%); /* IE10+ */
background: linear-gradient(to right,  #05abe0 0%,#53cbf1 28%,#87e0fd 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=1 ); /* IE6-9 */
}




.caps
{ 
font-family:'ChaparralPro-LightIt'; 
background:#f0f0fa;}

.caps strong
{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
font-size:11px; 
} 




    blockquote {
     font-family:'ChaparralPro-LightIt';  
      margin: 0.25em 0;
      padding: 0.25em 40px;
      line-height: 1.25;
    }

    blockquote:before {
      display: block;
      content: "\201C";
      font-size: 50px;
      position: absolute;
      left: 30px;
      top: 20px;
      color: #adadad;
    }

    blockquote cite {
      color: #999999;
      font-size: 14px;
      display: block;
      margin-top: 5px;
    }

    blockquote cite:before {
      content: "\2014 \2009";
    }



/*http://desandro.github.com/3dtransforms/docs/card-flip.html*/
.bit.flip {

   position: relative !important;   
  -webkit-perspective: 400px;
}

.flip .card.flipped {
  -webkit-transform: rotateY( 180deg );
}

.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  position: absolute !important;
  -webkit-transition: -webkit-transform 1s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;    
}

.flip .card .front {
  position: absolute; 
  background:white;
    cursor: pointer;
    
}

.flip .card .back {
  /*-webkit-transform: rotateY( 180deg );*/
    background: #bababa;
     color: white;
    cursor: pointer;
   
}





._1-5 	{ margin:20px 0 0 0;  } 

._1-6 	{ margin:0 0 70px 0;  } 

._4 	{ font-family: 'Meddon';   } 
._4 .content { font-size:20px; height:20px; width:30px; padding: 7px 13px 20px 16px;}

._5-0 { float:left; clear:both;  } 
._7 	{  float:left; }

._7-3 	{  margin:60px 0 0 0; position:relative;  } 
._7-4 	{  top:-20px; position:relative;  } 
._7-5 	{  top:-10px;position:relative;  } 


._8 	{  margin:60px 0 0 0;  } 
._9 .content	{   height:140px; } 
._10 	{  } 

._10-2 	{ margin:150px 0 0 0; } 

._10-2 .content	{  height:200px;} 






._11 	{ margin:50px 0 0 0; } 
._12 	{ float:left;  } 
._12-1 .ui360-vis{ width:40px; height:40px; }


._13 	{ float:left;  } 
._13-1 .content	{   height:200px; } 


._14 { margin:100px 0 0 0; } 
._14-4 { margin:100px 0 0 0; } 


._15 { margin:0 0 50px 0; } 

._16	{ float:left;  margin:50px 0 0 0; } 
._17  { left:-20px; }

._20 	{ margin:100px 0 0 0;}

._23 	{ 
height: 180px;
width: 334px;
 margin:0 0 60px 0;}


._24	{ float:left;  } 


._25:hover 	{ cursor:text;}

._25 .content.before 	{ padding-left:0; left:-20px; }


._25-1 	{ margin:60px 0 0 0;}

._26 .content:before,
._26 .content:after { bottom:10px;}


._26-1 { position: relative;
left: 264px;}

._26-1 img { 
display:none;}



._28	{ float:left;  } 

._29 .content.after 	{ padding-left:0; left:-20px; }


._32-1  { margin:0 0 60px 0;}

._32-2-1  { z-index:15;}


._32-3  { margin:100px 0 0 0 ;}



.mj		{ left:-50px; position:relative; height:340px;
top: 30px;
 }


.mj ._33-1 	{ position : absolute; left:408px;  }


.mj ._34 	{ 
	position: absolute;
	left: 241px;
	z-index: 3;

	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); 
	top: 16px;
}


.mj ._35 	{ 
left: 90px;
position: relative;
height: 340px;
top: 71px;
} 




.doors   { 
  left:70px;
  position: relative;
height: 560px; }


.doors ._333-1  { position: absolute;
left: -80px;
top: 90px;  }


.doors ._333-2  { 
 position: absolute;
left: 170px;
top: 50px;


}


.doors ._333-3  { 
position: absolute;
left: 80px;
top: 60px;
} 

.doors ._333-4  { 

    position: absolute; 
    left: 110px; 
    top: 310px;

  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg); 
 z-index:10;
} 



.doors ._333-5  { 

    position: absolute; 
   

  -webkit-transform: rotate(180deg); 
  -moz-transform: rotate(180deg); 
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg); 
 left: 260px;
top: 210px;

} 



._30 	{ margin:50px 0 0 0;}
._36 	{ margin:50px 0 0 0;}

._36-1  { top:-20px;}
._36-2  { margin:40px 0 0 0;}

._38-6  { 

  top: -80px;
left: 24px;
display:none;
}



._46 	{ margin:50px 0 0 0;}

._54  { margin:30px 0 0 0;}


._52-1  { margin:30px 0 0 0;}
._51-1  { top:-18px;}


._80  { margin:120px 0 0 0;}
._81  {  top:-29px; }

.weightless_topic 		{ left:-42px; margin:50px 0 0 0 ; position:relative; height:790px; width:900px; display:block;}
.weightless_topic ._50 	{ position: absolute; left:497px; top:378px; }
.weightless_topic ._51 	{ position: absolute;left: 410px; top: 209px;}
.weightless_topic ._52 	{ position: absolute; left: 317px; top: 441px; }
.weightless_topic ._53 	{ position: absolute; left: -127px; top: -124px; }
.weightless_topic ._54 	{ position: absolute; left: 145px; top: 405px; }
.weightless_topic ._55 	{ position: absolute; left: 50px; top:90px; }
.weightless_topic ._56 	{ position: absolute; left: 360px; top:20px; }
.weightless_topic ._57 	{ position: absolute; left: 130px; top:50px; }
.weightless_topic ._57-1 	{ position: absolute; left: -15px; top:260px; }

.weightless_topic ._13-11 	{  position: absolute; left: -30px; top:160px; } 

.weightless_topic ._58 	{ position: absolute; left: 460px; top: 103px; }
.weightless_topic ._59 	{ position: absolute; left: 487px; top: 397px; }
.weightless_topic ._60 	{ position: absolute; left: 290px; top: 200px; }
.weightless_topic ._61 	{ position: absolute; left: 584px; top: 70px; }
.weightless_topic ._62 	{ position: absolute; left: 600px; top: 365px; 	
	-webkit-transform: rotate(-11deg); 
	-moz-transform: rotate(-11deg); 
	-o-transform: rotate(-11deg);
	-ms-transform: rotate(-11deg); 
}
.weightless_topic ._63 	{ position: absolute; left: 650px; top: 129px; }

.weightless_topic ._63-1 	{ position: absolute; left: 630px; top: 209px; }

.weightless_topic ._64 	{ position: absolute; left: 250px; top: 314px; }
.weightless_topic ._65 	{ position: absolute; left: 360px; top: 90px;  }
.weightless_topic ._66 	{ position: absolute; left: 580px; top: 455px; }
.weightless_topic ._67 	{ position: absolute; left: 536px; top: 180px;}
.weightless_topic ._68 	{ position: absolute; left: 430px; top: 10px; }

.weightless_topic ._68-1 	{ position: absolute; left: 160px; top: 200px; }

.weightless_topic ._69 	{ position: absolute; left: 113px; top: 759px; }
.weightless_topic ._70 	{ position: absolute; left: 181px; top: 789px; }
.weightless_topic ._71 	{ position: absolute; left: 541px; top: 543px;}
.weightless_topic ._72 	{ position: absolute; left: 468px; top: 756px; }
.weightless_topic ._73 	{ position: absolute; left: 270px }
.weightless_topic ._74 	{ position: absolute; left: 329px; top: 479px; }
.weightless_topic ._75 	{ position: absolute; left: 473px; top: 790px; }
.weightless_topic ._77 	{ position: absolute; left: 403px; top: 315px; }
.weightless_topic ._78 	{ position: absolute; left: 703px; top: 35px; }
.weightless_topic ._79 	{ position: absolute; left: 53px; top: 485px; }

.umberto  { display:none;}

.umberto .row { display:block; clear:both; float:none;}

.umberto .row .bit { display:inline-block;}

.umberto .row .bit .content:before,
.umberto .row .bit .content:after { bottom:11px;}



.sliced_text { display:none;}
.sliced_text .bit { display:inline-block;}


._81  { margin:0 0 0 50px;}

._51  { margin:60px 0 0 0;}


.parallel { display:inline-block;}

.parallel .left { float:left;}

.parallel .middle { float:left; }
.parallel .right { float:right;}

._53-1  { left:-64px; top:-20px;}
._53-3  { 

top: 100px;
left: -58px;
}

._53-4  { 

left: -34px;
top: -20px;
}




._199 { margin:90px 0 0 0;}

._200  { left:-40px; margin:100px 0 50px -30px;}
._200 .right.one  { margin:0 0 0 31px;}


._200 .right.two  { margin:7px 0 0 -20px;}





._110-2  { 
left: 40px;
top: -30px;}


._110-3  { 
left: 20px;
top: 110px;
}

._110-4  { 

top: 60px;
}



._110-5  { 

left: 50px;
z-index: 6;
top: 20px;
}

._110-6  { 

top: 60px;


  z-index: 3;

  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); 
}

._110-7  { 

left: 19px;
z-index: 6;
top: 50px;
}

._55  { 

float: none;
clear: both;
display: block;
left: 300px;
}


.row_search{
height: 340px;
width: 800px;
clear: both;
display: block;
float: none;

}


._131 .content { 
  height: 200px;
width: 135px;
  }

._132 {height:30px; width:30px; display:block;}

._132 img { display:none;}

._133,
._134 { display:none;}

._134 { 
  z-index: 3;

  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); 
left: 70px;
top: 121px;


}


._111-1  { width:360px; top:130px;
left:128px;


}


._111-2  { 
left:128px;
top:127px;;
}

._111-3  { 
   top: -46px;
}

._111-4

{
top: 200px;
left: 140px;
}


._111-4 .content  { 
}


._111-5  {  
width: 360px;
left: 288px;
top: -65px;
} 
._111-5 .content  {  } 
 
._111-50  { left: 165px;
top: 129px;
} 


._111-6  {  top:-20px; 
left: 288px;
top: -70px;}

._145 { position:absolute;}


._201 { margin: 0 0 200px 0; height:530px;}

._201 .left,
._201 .middle,
._201 .right { display:none;}



._112-1  {  
width: 300px;

} 
._112-3 {  

top: 40px;
left: 40px;
}
 
._112-4 {  
width:290px;
top: -168px;
left: 529px;
}

._202 { }


._112-6 {  

left: -210px; top: 344px;
}

._112-7 {  
display:none;
left: 604px;
top: -146px;

}


._112-8 {  left: -20px;
top: 30px;
}


._202 .one { position: absolute;
left: 600px;
margin: -30px 0 0 0;
}

._202 .middle,
._202 .two,
._202 .one { display:none;}



._91 { margin:390px 0 0 0;}


._300 { clear: both;
margin: 180px 0 0 0;
}

.row_search { 
height:200px;
}


._302 { 
margin: 50px 0 0 0;}


._304 { 
margin: 40px 0 300px 0;}


.search_trigger {
  width:800px;
  height:500px;
  margin:140px 0 0 0;
  position: relative;

/*
background: #d0c8c8; /* Old browsers * /
background: -moz-linear-gradient(top,  #d0c8c8 0%, #e7e4e4 100%); /* FF3.6+ * /
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0c8c8), color-stop(100%,#e7e4e4)); /* Chrome,Safari4+ * /
background: -webkit-linear-gradient(top,  #d0c8c8 0%,#e7e4e4 100%); /* Chrome10+,Safari5.1+ * /
background: -o-linear-gradient(top,  #d0c8c8 0%,#e7e4e4 100%); /* Opera 11.10+  * /
background: -ms-linear-gradient(top,  #d0c8c8 0%,#e7e4e4 100%); /* IE10+  * /
background: linear-gradient(to bottom,  #d0c8c8 0%,#e7e4e4 100%); /* W3C  * /
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0c8c8', endColorstr='#e7e4e4',GradientType=0 ); /* IE6-9 * /
 */

}


.search {
padding: 0;
opacity:.7;
}



.search #query {
  background-image: url('/images/search.jpg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border:0;
  padding: 7px 0 0 0;
  width: 180px;
  padding-left: 50px !important;
  font-size: 23px;
  font-family: 'ChaparralPro-Light';
  
}

.search_trigger .bit {
margin: 0 0 50px 0;
padding: 0;
}

.search_trigger .bit .content { 

width: auto;
height: auto;
display: inline-block;

}

.search {
  
  
  opacity:.7;
  /*-webkit-filter: blur(64px);*/
  display:none;

}



.search_trigger .one { 
position: absolute;
left: 406px;
top: 98px;
display:none;

}



._120 {
  position:absolute;
left: 0px;
top: 53px;
z-index: 20;
}



._121 {  

left: -210px; 
top: 344px;

position: absolute;
left: -10px;
top: 40px;
z-index: 10;
}

._122 {  
display:block;


position: absolute;
z-index: 30;
left: 10px;
top: 64px;

}


._123 {  
  left: -20px;
top: 30px;
}




/* .search #image_holder { position:absolute;left:20px; top:20px; }

.search #canvas_holder { :style ="width: 500px; height: 375px;" }

.search #canvas_holder canvas  {
  position:absolute;left:20px; top:20px;text-align:center;font-size:10px;
}

*/
._900 { display:none;}

.search_trigger .bit .highlight { background:#f7fdd0; padding: 0 4px 0 4px;}


._700-1 { position: absolute;
display:none;

}


._700-2 { position: absolute;
left: 100px;

}

._701-1 { position: absolute;
left: 140px;
display:none;
}

._701-2 { position: absolute;
left: 300px;

}