= form_for @bit, :html => { :multipart => true }, remote: true do |f|

  .field

    = f.text_area :content, :rows => 2, :col => 2

  
  .field
    = f.file_field :image



  .actions

    = f.submit 'Save'

