-# TODO: duplicate as show, refactor ment out of view
= content_tag_for(:div, @bit, { :style => "left: #{ @bit.position_x}px; top: #{ @bit.position_y}px;", :"data-bit-id" => @bit.id, :class => 'bit' } ) do
  .container 

    .face.front
      .content
      
        = render 'form'

    .face.back
      .content
        

    %p.ui-widget-header



