.bit                                    
{ 
  position: absolute;   

  /* for flip 
  http://24ways.org/2010/intro-to-css-3d-transforms/
  */
  -webkit-perspective: 800px;
}

.bit .content { 


 color: #666;
 display:inline-block;
 font-size: 16px;

  /* for flip 
  http://24ways.org/2010/intro-to-css-3d-transforms/
  */
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .1s;  
}

.bit .content .ui-widget-header         { 
  display:none;  
  cursor:move; 
  background-color:#ccc; 
  position:absolute; 
top: -7px;
left: 0;
margin: 0;
padding: 0;
}

.bit .content:hover .ui-widget-header   { display:block; height:8px; width:100%;}


.bit .face { 
  display: block;

  padding:15px;

/*  width: 100%;
  height: 100%;*/
  -webkit-backface-visibility: hidden;
}

.bit .content .face.front { 
   
     background-color: #fff;

}


  /* for flip 
  http://24ways.org/2010/intro-to-css-3d-transforms/
  */
.bit .content .face.back { 
  display:none;
  background: #ccc;
  -webkit-transform: rotateY(180deg);
}

.bit .content.flipped {
  -webkit-transform: rotateY(180deg);
}

/* bit shadows 
BF: http://www.sitepoint.com/pure-css3-paper-curls
*/
.bit:before, .bit:after
{
  position: absolute;
  width: 20%;
  height: 12px;
  content: ' ';
  left: 5px;
  bottom: 5px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

  z-index: -1;
}

.bit:after
{
  left: auto;
  right: 5px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}
/* end bit shadows */


.bit .image 		{ padding:0 !important; background:none !important; }
.bit .aside	 	{ font-family:'ChaparralPro-LightIt';  } 


