

.bit { display:block; position: absolute;}
.bit .content .ui-widget-header { display:none; height:8px; cursor:move; background-color:#ccc; position:absolute; top:-23px; left:0;}
.bit .content:hover .ui-widget-header{ display:block; height:8px; width:100%;}

.bit .content { 

  position: relative;
  padding:15px;
  margin: 5px;
  background-color: #fff;
 color: #666;
 display:inline-block;
 font-size: 16px;
}


/* bit shadows */
.bit .content:before, .bit .content:after
{
  position: absolute;
  width: 20%;
  height: 12px;
  content: ' ';
  left: 5px;
  bottom: 5px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.bit .content:after
{
  left: auto;
  right: 5px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}
/* end bit shadows */


.bit .image 		{ padding:0 !important; background:none !important; }
.bit .aside	 	{ font-family:'ChaparralPro-LightIt';  } 




.bit {
  -webkit-perspective: 400;
    position: relative;

  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.2s;
 
}

.bit.flipped {
  -webkit-transform: rotatex(-180deg);
}


.bit .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    
}
.bit .front {
  position: absolute;
  z-index: 1;
  background:white;
    cursor: pointer;
     padding: 15px;
}

.bit .back {
  -webkit-transform: rotatex(-180deg);
    display: none;
    background: #bababa;
     color: white;
    cursor: pointer;
     padding: 15px;
}



