// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {	  

	// required to get jquery x/y coordinates to return non 0 values
	min-height:2000px;
	min-width:2000px;
	
	height:100%;
  	width:1000%;
  	
  }



#image_upload {

/*	position:fixed;
	left:100px;
	top:200px;
	height:400px;*/
	z-index:5000 !important;
	position: absolute !important;
}